*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

# User-specific files
/src/*.suo
/src/*.user
/src/*.userosscache
/src/*.sln.docstates
/src/build/
/src/_ReSharper.*/
/src/*.sdf
/src/bin/
/src/obj/
/src/Debug/
/src/Release/
/src/*.opensdf
/src/*.tlog
/src/*.log
/src/TestResult.xml
/src/*.VisualState.xml
/src/Version.cs
/src/Version.h
/src/Version.cpp

# Build results
/src/[Dd]ebug/
/src/[Dd]ebugPublic/
/src/[Rr]elease/
/src/[Rr]eleases/
/src/x64/
/src/x86/
/src/build/
/src/bld/
/src/[Bb]in/
/src/[Oo]bj/
/src/[Oo]ut/
/src/msbuild.log
/src/msbuild.err
/src/msbuild.wrn

# Visual Studio 2015
.vs/
/src/client/DoceGrao.Client/[Bb]in/
/src/client/DoceGrao.Client/[Oo]bj/
/src/client/DoceGrao.Client/[Bb]in/Debug/
/src/client/DoceGrao.Client/[Bb]in/Release/
/src/client/DoceGrao.Client/DLL/
/src/client/DoceGrao.Client/[Dd]ebug/
/src/client/DoceGrao.Client/[Dd]ebugPublic/
/src/client/DoceGrao.Client/[Rr]elease/
/src/client/DoceGrao.Client/[Rr]eleases/
/src/client/DoceGrao.Client/x64/
/src/client/DoceGrao.Client/x86/
/src/client/DoceGrao.Client/build/
/src/client/DoceGrao.Client/bld/
/src/client/DoceGrao.Client/[Bb]in/
/src/client/DoceGrao.Client/[Oo]bj/
/src/client/DoceGrao.Client/[Oo]ut/
/src/client/DoceGrao.Client/msbuild.log
/src/client/DoceGrao.Client/msbuild.err
/src/client/DoceGrao.Client/msbuild.wrn

/src/domains/DoceGrao.Domain/[Bb]in/
/src/domains/DoceGrao.Domain/[Oo]bj/
/src/domains/DoceGrao.Domain.Models/[Bb]in/
/src/domains/DoceGrao.Domain/DLL/

/src/domains/DoceGrao.Infrastructure/[Oo]bj/
/src/domains/DoceGrao.Infrastructure/[Bb]in/
/src/domains/DoceGrao.Infrastructure/DLL/

/src/shared/DoceGrao.Api.Shared/[Bb]in/
/src/shared/DoceGrao.Api.Shared/[Oo]bj/
/src/shared/DoceGrao.Api.Shared/DLL/

/src/domains/DoceGrao.Services/[Bb]in/
/src/domains/DoceGrao.Services/[Oo]bj/
/src/domains/DoceGrao.Services/DLL/

/src/domains/DoceGrao.Domain.Models/[Bb]in/
/src/domains/DoceGrao.Domain.Models/[Oo]bj/
/src/domains/DoceGrao.Domain.Models/DLL/


/src/client/DoceGrao.Client/Properties/PublishProfiles
/src/client/DoceGrao.Client/DoceGrao.Client.csproj.user
/DoceGrao.Api.Security.Infrastructure/obj
